
*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", "Times", sans-serif;
   }
   body{
    background-color: rgb(226, 152, 255);
   }
   form{
    margin: 120px auto;
    width: 500px;
    background: white;
    border-radius: 5px;
   }
   
   fieldset{
    padding: 10px;
   }
   label{
    padding: 10px;
    font-weight: bold;
    color: rgb(19, 19, 19);
    margin-bottom: 10px;
   }
   fieldset{
    font-weight: bold;
   }
   
   input[type='number'],input[type='text']{
    padding: 4px;
    width: 20em;
    margin-bottom: 10px;
    background-color: #efefef;
    border:none;
    border-radius: 2px;
   }
   select{
    padding: 2px;
    margin-bottom: 10px;
   }
   h4{
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(204, 133, 252);
    margin-bottom: 10px;
    border-radius: 7px;
    width: 102%;
    margin-left: -10px;
   }
   input[type='button']{
    margin-bottom: 20px;
    background-color: rgb(10, 182, 62);
    border:none;
    padding: 10px;
    color: white;
    border-radius: 3px;
   }